
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Snow Signup form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="css/style-form.css" type="text/css" media="all" />
	
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/templatemo-style.css" rel="stylesheet">
	<style type="text/css">
		
	</style>
</head>

<body>
	<!-- Signup form -->
	<section class="w3l-signup">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="/addUserList">添加用户</a>
					<a class="brand-logo brand-logo1" href="/">用户列表</a>
				</div>
				<div class="form-section">
					<h3>用户信息</h3>
					<form action="/addUserList" method="post" class="signin-form">
						<div class="form-input">
							<input type="text" name="username123" placeholder="Username" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="email" name="email" placeholder="Email" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" name="password123" placeholder="Password" required="">
						</div>
						<div class="row form-group">
							<div class="col-lg-6 col-md-6 form-group">
								<label>性别</label>
								<div class="col-lg-12 form-group">
									<div class="margin-right-15 templatemo-inline-block">
										<input type="radio" name="sex" id="r4" value="男">
										<label for="r4" class="font-weight-400"><span></span>男</label>
									</div>
									<div class="margin-right-15 templatemo-inline-block">
										<input type="radio" name="sex" id="r5" value="女" checked>
										<label for="r5" class="font-weight-400"><span></span>女</label>
									</div>
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-primary theme-button mt-4">ADD USER</button>
					</form><p class="signup">Already a customer? <a href="#login.html" class="signuplink">Login now</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; 2020 Snow Signup Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /Signup form -->
	
						

</body>

</html>